@{
    ViewBag.Title = "SimpleRotator";
}

<h2>SimpleRotator</h2>

SimpleRotator is an ad/banner rotator that doesn't require a database. All ads, the zones they belong to, and the properties of thier rotation, are all read from the filesystem.<br/>
<br/>
The project is free and open source. It resides at:<br/><br/>
<a href="https://github.com/NNordhaus/SimpleRotator">https://github.com/NNordhaus/SimpleRotator</a>